<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Add New User</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
            crossorigin="anonymous"></script>

</head>
<body class="bg-secondary">


<div class="container pb-5">
    <div class="col-lg-4 mx-auto border rounded bg-light p-5">
        <h3 class="alert-light mb-3 text-center">Register User</h3>

        <!--        # method post-->
        <form method="POST" action="">
            {% csrf_token %}

            <!--        alert here-->
            {% if form.errors %}

            <div class="alert alert-danger alert-{{message.tags}} alert-dismissible fade show mt-2 " role="alert">
                <ul class="errorlist">
                    {% for field_errors in form.errors.values %}
                    {% for error in field_errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                    {% endfor %}
                </ul>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endif %}

            <!--    first name-->
            <div class="mb-3">
                <label class="form-label">{{form.first_name.label_tag}}</label>
                <br>
                {{form.first_name}}
            </div>
            <!--Role-->
            <div class="mb-3">
                <label class="form-label">{{form.role.label_tag}}</label>
                {{form.role}}
            </div>
            <!--Email    -->
            <div class="mb-3">
                <label class="form-label">{{form.email.label_tag }}</label>
                <br>
                {{form.email}}
            </div>

            <!--Username-->
            <div class="mb-3">
                <label class="form-label">{{ form.username.label_tag }}</label>
                <br>
                {{ form.username }}
            </div>

            <!-- password   -->
            <div class="mb-3">
                <label class="form-label">{{ form.password1.label_tag }}</label>
                <br>
                {{ form.password1 }}
            </div>
            <!--            confirm password-->
            <div class="mb-3">
                <label class="form-label">{{ form.password2.label_tag }}</label>
                {{ form.password2 }}
            </div>
            <!--            password confirm-->
            <div class="mb-3">

                <button class="btn btn-primary" type="submit">Register</button>
                <a href="{% url 'manager_dash' %}" class="btn btn-secondary" type="">Back</a>

            </div>

        </form>

    </div>
</div>


</body>
</html>
